html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  color: rgba(255, 255, 255, 1);
  font-family: 'Open-Sans', sans-serif;
}

#app {
  height: 100%;
  width: 100%;
}

a:focus {
  outline: none;
  opacity: 0.5;
}
